.left{
	padding-left: 30px;
	padding-top:20px;
	margin-right:0px;
	width: 400px;
	height:450px;
	border-style: dotted;
}
input{
	height: 25px;
	width: 250px;
	
}
.left span{
	color: maroon;
	font-size:large;
}
.right{
	margin-left:0px;
	padding-left: 20px;
	padding-top:20px;
	width: 600px;
	height:450px;
	border-style: dotted;
}
.title span{
	font-size: 20px;
}
.title span{
	color: purple;
	font-size: medium;
}
td{
	text-align: center;
}